html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(241, 235, 241);
}

.main-card {
    width: 800px;
}

.main-div {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}